doctype html
head
    title Beach Hotel
    link(rel="icon" href="public/img/logo.png")
    block style
        style
            include ../public/css/style.css
body
    nav.navbar
        div.logo
            img(src="public/img/navlogo.png", alt="siteLogo" )
        div.navigation
            div.topbar
                div.leftTopbar
                    ul
                        li #[img(src="public/img/location.png", alt="")] Via Grotta 52, Rimini, Italy
                        li #[img(src="public/img/mail.png", alt="")] info349@gmail.com
                        li #[img(src="public/img/phone.png", alt="")] +88 8937837
                        
                div.rightTopbar
                    button(type="button") #[a(href="#",title="Contact Us") Contact Us]
            div.menu
                div.leftMenu
                    ul
                        li #[a(href="/") Home]
                        li #[a(href="#") Rooms]
                        li #[a(href="#") Spa]
                        li #[a(href="#") Restaurant]
                        li #[a(href="#") Contact]
                div.rightMenu
                    div.dropdown
                        button(type="button") En
                        div.dropdownContent
                            ul
                                li English
                                li Bangla
                                li Hindi
    block content
    block footer
    block script
        script
            include ../public/js/myScript.js