doctype html
head
    title Beach Hotel
    link(rel="icon" href="public/img/logo.png")
    block style
        style
            include ../public/css/style.css
body
    block content
    block footer
    block script
        script
            include ../public/js/myScript.js