extends base

block content
    section.header
        video(autoplay, loop, muted)
            source(src="public/video/backgroundVIdeo.mp4")
        div.overlay
            div.overlayText
                p WELCOME OUR DEAR GUESTS
                h1 Quality time near the beach
                button(type="button") About the spot
                button(type="button") Our offers
