@import "variable&mixin";
@import "navbar"; 

.header {
    position:relative;
    overflow: hidden;
    video {
        width: 100%;
        height: 550px;
        object-fit: cover;
        display: block;
    }
    .overlay {
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background-color: rgba(9, 9, 24, 0.452);
    }
    .overlayText {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        p{
            @extend %paragraphFont;
        }
        h1 {
            @include paragraphFont(){
                text-align: center;
                color:red;
            }
        }
    }
}
